@import "../utilities/mixins";
@import "../utilities/variables";

#C_SC_footer_area {
  .footer_logo {
    width: 150px;
    top: -15px;
    position: relative;
  }
  .footer_info_box {
    @media (max-width: 767px) {
      // display: flex;
      // align-items: left;
      .text-left-m{
        text-align: start;
      }
      h5{
        text-align: start;
      }
    }
    div {
      i {
        color: $DarkMintGreen;
        background-color: $HintOfGreen;
        padding: 10px;
        border-radius: 50px;
        margin-right: 13px;
        font-size: 25px;
      }

      h5 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        color: #282a3a;
        margin-bottom: 3px;
      }

      p {
        font-family: Poppins;
        font-weight: normal;
        font-size: 15px;
        line-height: 21px;
        color: #282a3a;
      }
    }
  }

  .text_head_line {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282a3a;
  }
  .description_text {
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #282a3a;
  }

  .cu_div {
    p {
      font-family: Poppins;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #282a3a;
    }
  }

  .downloadApp_imgs {
    img {
      width: 125.33px;
      margin-bottom: 8px;
    }
  }
  .copyRightTexts {
    font-family: Inter;
    font-size: 14px;
    line-height: 24px;
    color: #cdd0d6;
  }

  .f_b_Social_icons{
    i{
      font-size: 20px;
    color: $DarkMintGreen;
    background-color: $HintOfGreen;
    border-radius: 50px;
    padding: 10px;
    }
  }

  @media (max-width: 767px) {
    // display: flex;
    // align-items: left;
    .text-left-m{
      text-align: start;
    }
    .pl-m{
      padding-left: 15px !important;
    }
  }
  @media (max-width: 395px) {
    .downloadApp_imgs {
      img {
        width: 170.33px;
        margin: 8px;
        padding-left: 5px;
      }
    }
  }
}
