@import "../utilities/variables";

#c_s_Navbar_area {
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.6s;
    z-index: 900;

    .bg-white{
      background: $white;
    }
    .bg-none{
      background: rgba(255, 255, 255, 0);
    }

    @media (max-width: 991px) {
      background: $white;
    }
  .navbar {
    .navbar-collapse {
      div {
        .def_active_btn {
          background: $CadmiumOrange;
          font-size: 16px;
        }
        .btn-ID,
        .btn-EN {
          font-size: 18px;
          font-weight: 700;
          padding: 10px 7px 8px !important;
        }
        .btn-ID {
          color: $DarkMintGreen;
        }
        .btn-EN {
          color: rgb(194, 189, 189);
        }
      }
      .nav-item {
        font-weight: 600;
        padding: 0px 5px;
        a {
          color: #282a3a;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .text-center-m{
      text-align: center;
    }
  }
}
