@import "../../utilities/mixins";
@import "../../utilities/variables";

#C_A_our_journey {
  padding: 80px 0px;
  padding-bottom: 10px;
  h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
  }
  .main-timeline {
    font-family: "Roboto", sans-serif;
    position: relative;
  }
  .main-timeline:after {
    content: "";
    display: block;
    clear: both;
  }
  .main-timeline:before {
    content: "";
    height: 95%;
    width: 2px;
    border: 2px dashed #a3a3ad;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 30px;
  }
  .main-timeline .timeline {
    width: 50%;
    padding: 0 35px 0 27px;
    margin: 0 10px 20px 0;
    float: left;
  }
  .main-timeline .timeline-content {
    background: linear-gradient(#CBFDE0, #CBFDE0);
    text-align: center;
    padding: 15px 115px 15px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.6);
    display: block;
    position: relative;
  }
  .main-timeline .timeline-content:hover {
    text-decoration: none;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline-content:after {
    content: "";
    // background: linear-gradient(to bottom, #647cde, #78b0fa);
    background: linear-gradient(to bottom, #227e22, #63a211);
    width: 45px;
    height: 45px;
    transform: rotate(-45deg);
    position: absolute;
    top: 13px;
    right: -58px;
    z-index: 1;
  }
  .main-timeline .timeline-content:after {
    background: #fff;
    transform: rotate(-45deg) scale(0.6);
  }
  .main-timeline .timeline-icon {
    color: #fff;
    // background: linear-gradient(to right, #617de0, #78b1f8);
    background: linear-gradient(to bottom, #227e22, #63a211);

    font-size: 23px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    transform: translateY(-50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    left: -20px;
  }
  .main-timeline .timeline-icon i {
    transform: rotate(45deg);
  }
  .main-timeline .timeline-year {
    color: #fff;
    // background: linear-gradient(to bottom, #617de0, #617de0, #78b1f8);
    background: linear-gradient(to bottom, #227e22, #227e22, #63a211);
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
    height: 100%;
    width: 100px;
    border-radius: 0 0 5px 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-timeline .timeline-year:after {
    content: "";
    // background: linear-gradient(to right bottom, #617de0 49%, transparent 50%);
    background: linear-gradient(to right bottom, #227e22 49%, transparent 50%);

    height: 33px;
    width: 33px;
    position: absolute;
    right: -33px;
    top: 0;
  }
  .main-timeline .title {
    color: #000;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
  }
  .main-timeline .description {
    color: #333;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
  }
  .main-timeline .timeline:nth-child(even) {
    padding: 0 27px 0 35px;
    margin: 0 0 20px 10px;
    float: right;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 15px 40px 15px 115px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:after {
    right: auto;
    left: -58px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: -20px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: 0;
    border-radius: 0 0 0 5px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year:after {
    transform: rotateY(180deg);
    right: auto;
    left: -33px;
  }
  .main-timeline .timeline:nth-child(4n + 2) .timeline-content:before,
  .main-timeline .timeline:nth-child(4n + 2) .timeline-icon {
    // background: linear-gradient(to left, #f53b57, #803f4d);
    background: linear-gradient(to left, #f75b13, #eb904f);
  }
  .main-timeline .timeline:nth-child(4n + 2) .timeline-year {
    // background: linear-gradient(to bottom, #f53b57, #f53b57, #ef5777);
    background: linear-gradient(to bottom, #df4903, #f06807, #fc8b3b);

  }
  .main-timeline .timeline:nth-child(4n + 2) .timeline-year:after {
    background: linear-gradient(to right bottom, #df4903 49%, transparent 50%);
  }
  .main-timeline .timeline:nth-child(4n + 3) .timeline-content:before,
  .main-timeline .timeline:nth-child(4n + 3) .timeline-icon {
    background: linear-gradient(to bottom, #227e22, #63a211);
  }
  .main-timeline .timeline:nth-child(4n + 3) .timeline-year {
    background: linear-gradient(to bottom, #227e22, #227e22, #63a211);
  }
  .main-timeline .timeline:nth-child(4n + 3) .timeline-year:after {
    background: linear-gradient(to right bottom, #227e22 49%, transparent 50%);
  }
  .main-timeline .timeline:nth-child(4n + 4) .timeline-content:before,
  .main-timeline .timeline:nth-child(4n + 4) .timeline-icon {
    // background: linear-gradient(to left, #7d5ac2, #b493fe);
    background: linear-gradient(to left, #f75b13, #eb904f);

  }
  .main-timeline .timeline:nth-child(4n + 4) .timeline-year {
    // background: linear-gradient(to bottom, #7d5ac2, #7d5ac2, #b493fe);
    background: linear-gradient(to bottom, #df4903, #f06807, #fc8b3b);

  }
  .main-timeline .timeline:nth-child(4n + 4) .timeline-year:after {
    // background: linear-gradient(to right bottom, #7d5ac2 49%, transparent 50%);
    background: linear-gradient(to right bottom, #df4903 49%, transparent 50%);

  }
  @media screen and (max-width: 767px) {
    .main-timeline:before {
      left: 17px;
      transform: translateX(0);
    }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
      width: 100%;
      padding: 0 0 27px 40px;
      margin: 0 0 30px 0;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
      padding: 70px 15px 35px 15px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:after {
      height: 25px;
      width: 25px;
      top: 10px;
      right: auto;
      left: -34px;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon {
      transform: translateY(0) translateX(50%) rotate(-45deg);
      left: auto;
      right: 50%;
      top: auto;
      bottom: -20px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year {
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-radius: 0 5px 5px 5px;
      right: auto;
      left: 0;
    }
    .main-timeline .timeline-year:after,
    .main-timeline .timeline:nth-child(even) .timeline-year:after {
      height: 20px;
      width: 20px;
      transform: rotateY(180deg);
      right: auto;
      left: -20px;
    }
  }
  @media screen and (max-width: 576px) {
    .main-timeline .title {
      font-size: 18px;
    }
  }
}
