@import "../../utilities/mixins";
@import "../../utilities/variables";

#C_J_header_join_us_area {
  .head {
    background-image: url("/Assets/backgroundImg/joinUsHeadBG.png");
    // background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 560px;
    background-position: center;
    position: relative;
    top: -70px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // padding: 160px 0px;
    h3 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 50px;
      line-height: 75px;
      color: #14ba65;
    }
    p {
      font-family: Poppins;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #14ba65;
      text-align: center;
      // br:first-child{
      //   display: none;
      // }
    }
  }

  .map {
    padding: 50px 0px;
    margin-bottom: 50px;
    text-align: center;
    h5 {
      font-family: Inter;
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
      margin-bottom: 80px;
    }
  }
  @media (max-width: 635px) {
    .head {
      min-height: auto;
      padding: 150px 0px;
      h3 {
        font-size: 35px;
        line-height: 50px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  
    .map {
      padding: 20px 0px;
      margin-bottom: 40px;
      text-align: center;
      h5 {
        font-size: 25px;
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: 445px) {
    .head {
      padding: 110px 0px;
      h3 {
        font-size: 25px;
        line-height: 35px;
      }
      p {
        font-size: 14px;
        line-height: 25px;
      }
    }
  
    .map {
      padding: 0px 0px;
      margin-bottom: 40px;
      h5 {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: 296px) {
    .head {
      h3 {
        font-size: 20px;
        line-height: 28px;
      }
      p {
        font-size: 14px;
        line-height: 23px;
      }
    }
  
    .map {
      padding: 0px 0px;
      margin-bottom: 40px;
      h5 {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }
}
