@import "../../utilities/mixins";
@import "../../utilities/variables";

#C_J_profit_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 724px;
  background-color: #fff5de;
  padding: 80px 0px;
  .container {
    // @extend .container;
  }

  .head_lines {
    p {
      font-family: Inter;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #282a3a;
      margin-bottom: 20px;
    }
    h4 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 50px;
      color: #282a3a;
      cursor: pointer;
      span {
        color: #ffdeab;
        border-left: 3px solid #ffdeab;
        padding-left: 25px;
        margin-left: 25px;
      }
    }
  }

  .cards {
    .card {
      background: rgba(255, 255, 255, 0);
      img {
        height: 72px !important;
        width: 72px !important;
      }
      .card-title {
        font-family: Poppins;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #282a3a;
        p {
          margin-bottom: 0px;
        }
      }
      .card-text {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #282a3a;
      }
    }
  }

  @media (max-width: 767px) {
    min-height: auto;

    .head_lines {
      text-align: center;
      p {
        font-size: 15px;
        margin-bottom: 16px;
      }
      h4 {
        font-size: 25px;
        line-height: 30px;
      }
    }
  }

  @media (max-width: 575px) {
    .head_lines {
      h4 {
        span{
          padding-left: 10px;
          margin-left: 10px;
        }
      }
    }
    .cards {
      .card {
        text-align: center;
        img{
          margin-bottom: 10px;
        }
      }
    }
  }
}
