@import "../../utilities/variables";
@import "../../utilities/mixins";

#C_H_DownloadApp_area{
    height: 713px;
    width: 100%;
    background-image: url("/Assets/download\ app\ bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container{
        @extend .container;
    }

    .row{
        .contents{
            h5{
                font-family: Poppins;
                font-weight: 600;
                font-size: 40px;
                line-height: 60px;
                color: #282A3A;
            }
            img{
                width: 125px;
                background-color: #fff;
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
}