@import "../../utilities/variables";

#c_H_header_area {
  min-height: 840px;
  .container {
    max-width: 1000px;
    margin: 0 auto;
    .row {
      min-height: 550px;
      font-family: Poppins;
      color: $black;

      h3 {
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 40px;
      }

      #download_app {
        img {
          background: black;
          border-radius: 7px;
          width: 110px;
          cursor: pointer;
        }
        img:nth-child(2) {
          margin: 0px 10px;
        }
      }
    }
  }

  // Trusted By
  #c_H_Dipercaya_Oleh {
    text-align: center;

    p {
      font-family: Poppins;
      font-weight: 600;
      font-size: 16px;
      color: #777986;
      margin-top: 50px;
      margin-bottom: 40px;
    }
    div {
      overflow: scroll;
      overflow-x: hidden;
    }
    div::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
    div::-webkit-scrollbar-thumb {
      background: #ff0000;
    }
  }

  // tab size
  @media (max-width: 973px) {
    min-height: auto;
    padding: 20px 0px;
    .container {
      .row {
        min-height: auto;
        h3 {
          font-size: 30px;
          line-height: 45px;
        }
        p {
          margin-bottom: 30px;
        }

        #download_app {
          margin-bottom: 20px;
        }
      }
    }

    // Trusted By
    #c_H_Dipercaya_Oleh {
      p{
        margin: 15px 0px 30px 0px;
      }

      margin-bottom: 30px;
      img{
        width: 160%;
      }
    }
  }


  // mob size 
  @media (max-width: 375px) {
    .container {
      .row {
        min-height: auto;
        h3 {
          font-size: 25px;
          line-height: 35px;
        }
        p {
          margin-bottom: 30px;
          line-height: 22px;
        }

        #download_app {
          margin-bottom: 20px;
          img{
            width: 100px;
          }
          img:nth-child(2) {
            margin: 0px 5px;
          }
        }
      }
    }

    // Trusted By
    #c_H_Dipercaya_Oleh {
      p{
        margin: 15px 0px 30px 0px;
      }

      margin-bottom: 30px;
      img{
        width: 290%;
      }
    }
  }
}
